@import '../../styles/variables.module.scss';

$backgroundColor: #b0b3b8;

$pHeight: 17px;

.postsContainer {
  width: 100%;
  max-width: 500px;
  background-color: $postBackgroundColor;
  border-radius: $postsContainerBorderRadius;
  overflow: hidden;
  margin: 0 auto;
}

.userNameContainer {
  p {
    width: 200px;
    height: $pHeight;
    background-color: $backgroundColor;
    border-radius: 2px;
  }
}

.postInfo {
  > div:first-child {
    h1 {
      width: 300px;
      height: 22px;
      background-color: white;
    }
  }

  > div:last-child {
    p {
      width: 200px;
      height: $pHeight;
    }
  }
}

.commentsItem {
  .commentsItemName {
    p {
    }
  }

  .commentsItemDesc {
    p {
    }
  }
}
